<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ram.github.io.editor">

    <application>
        <activity
            android:name="ram.github.io.editor.editimage.EditImageActivity"
            android:label="@string/ram_github_io_editor_library_name"
            android:exported="true" />

        <activity android:name="ram.github.io.editor.picchooser.SelectPictureActivity" />
    </application>

</manifest>
